ex*/bin/
ex*/output/
ex*/SEMANT
ex*/src/Lexer.java
ex*/src/Parser.java
ex*/src/TokenNames.java
TAU Exercise *
CMakeLists.txt
/home/developer/Compilation/CMAKE_JAVA_BUILD.md
CMAKE_JAVA_BUILD.md
.idea/
cmake-build-*/
COMPILER